<div>
    <div>
        <tr class="student_assignment assignment_graded editable" data-muted="false" id="submission_added">

            <th class="title" scope="row">
                <a id="assignment_name">Homework 1: Introduction</a>
                <div id="assignment_category" class="context">Homework / Participation (mandatory)</div>
            </th>
            <td class="due">
                Jan 1 by 12:00am
            </td>

            <td class="status" scope="row">
            </td>

            <td class="assignment_score" title="Click to test a different score">
                <div style="position: relative; height: 100%;" class="score_holder">
<span class="tooltip">
  <span id='assignment_score' class="grade" tabindex="0">
    <span class="tooltip_wrap right" aria-hidden="true">
        <span class="tooltip_text score_teaser">
            Click to test a different score
        </span>
    </span>
      10
  </span>
</span>
                    <div style="display: none;">
                        <!-- Store the original points so we don't need to parse and guess at locale -->
                        <span class="original_points">
    10.0
  </span>
                        <!-- Store the original score so that we can retrieve it after any "What-If" calculations -->
                        <span class="original_score">
    10
  </span>
                        <!-- Store the current score so that it can persist between multiple "What-If" calculations -->
                        <span class="what_if_score">
    10
  </span>
                        <!-- Load any previously saved "What-If" scores -->
                        <span class="student_entered_score">

  </span>
                        <span class="submission_status">
    graded
  </span>
                        <span class="assignment_group_id">82273</span>
                        <span class="assignment_id">424709</span>
                        <span class="group_weight"></span>
                        <span class="rules"></span>
                    </div>
                </div>
            </td>
            <td id="assignment_total" class="possible points_possible" aria-label="">
                10
            </td>
            <td class="details">

            </td>
        </tr>
    </div>
</div>