<div>
    <div>
        <h1>Final Grade Calculator</h1>
        <h5 style="color: red">***Will calculate based on current grades. Any categories with no assignments will be ignored***</h5>
        <table style="padding-bottom: 3%" id="final_grade_calc" class="final_grade_calc">
            <thead>
            <tr>
                <td scope="col">Desired Grade (%)</td>
                <td scope="col">Weight of Final (%)</td>
                <td scope="col">Calculate</td>
            </tr>
            </thead>
            <tbody id="final_grade_calc_body">
            <tr style="font-weight: bold;">
                <td>
                    <input type="text" id="desired_grade" value="93">
                </td>
                <td>
                    <input type="text" id="final_weight" value="20">
                </td>
                <td>
                    <button class="btn btn-primary" type="button" id="calculate_final">Calculate</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div id="req_final_grade" style="display: none">
            <h1>Required Grade On Final: <div id="req_grade">0%</div></h1>
        </div>
    </div>
</div>
