<!DOCTYPE html>
<html>
<head>
    <style>
        button {
            height: 50px;
            width: 150px;
            outline: none;
        }
    </style>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

</head>
<body>
    <div style="padding: 10px;">
        <button class="btn btn-primary btn-sm" type="button" id="calculate">Calculate</button>
    </div>
    <div style="padding: 10px">
    <select class="form-control-sm" id="themeSelect">
        <option selected disabled>Select a Theme</option>
        <option value="light">None</option>
        <option value="dark">Dark</option>
        <option value="inverted">Inverted</option>
        <option value="dark-glow">Dark Glow</option>
        <option value="bnw">Black and White</option>
        <option value="dark-future">Dark Future</option>
        <option value="hot-pink">Hot Pink</option>
<!--        <option value="purple">Purple</option>-->
    </select>
    </div>
    <div style="padding-left: 30px; padding-bottom: 10px">
        <input class="form-check-input" type="checkbox" value="" id="themedImages">
        <label class="form-check-label" for="themedImages">
            Themed Images
        </label>
    </div>
    <div style="padding-left: 30px; padding-bottom: 10px">
        <input checked class="form-check-input" type="checkbox" value="" id="autoLoadTheme">
        <label class="form-check-label" for="autoLoadTheme">
            Load Themes Automatically
        </label>
    </div>
    <script src="../static/js/popup.js"></script>
    <script
            src="../static/js/jquery-3.6.3.slim.js"></script>
    <script src="../static/js/popper-2.11.6.min.js"></script>
    <script src="../static/js/bootstrap.min.js" ></script>
</body>
</html>